@model web_application_login_page.Models.User
@{
    Layout = null;
}

    <html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #login-div{
                margin: auto;
                margin-top: 15%;
                width: 17%;
                border: 3px solid grey;
                padding: 10px;
            }
            .field-validation-error{
                color: red;
            }
        </style>
    </head>
    <body>
        <div id="login-div">
            @using (Html.BeginForm("Authorise", "Login", FormMethod.Post))
            {
                <table>
                    <tr>
                        <th colspan="2">Login</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.UserName)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Password)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="field-validation-error">
                                @Html.DisplayFor(model => model.LoginErrorMessage)
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Login" />
                            <input type="reset" value="Reset" />
                        </td>
                    </tr>
                </table>
            }
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </body>
    </html>

